<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @activity.category %>
</p>

<p>
  <strong>Hours spent:</strong>
  <%= @activity.hours_spent %>
</p>

<p>
  <strong>Date:</strong>
  <%= @activity.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @activity.user %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @activity.goal %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
